* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

body {
    background: #003049 ;
}

.content {
    display: flex;

    width: 400px;
    min-height: 150px;
    /* flex-direction: column; */
    justify-content:center;

    /* border-radius: 2px; */
    
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 3px;

    padding: 20px;

    /* box-shadow: 5px 5px 5px -5px rgba(255,255,255,0.79); */

    background: #FFF;
}

form {
    width: 80%;
}

.content h1 {
    margin-bottom: 16px;
}

h2 {
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 4px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 4px;
    outline: none;
    border
}

button {
    font-size: 18px;
    width: 100%;
    margin-top: 12px;
    padding: 12px;
    border: none; 
    color: #FFF;
    outline: none;
    cursor: pointer;
}

button.init {
    background: rgb(50, 151, 50);   
}

span, a {
    display: flex;
    color: #FFF;
    font-size: 14px;
    text-decoration: none;
}

span {
    margin-left: 55.9%;
}

a {
    margin-left: 8px;
}

ul {
    margin-top: 12px;
    padding-left: 29px;
    list-style: decimal;
}

ul li {
    margin-bottom: 4px;
}

button.delete {
    color: #FFF;
    background: rgb(173, 44, 44);
    width: 60px;
    font-size: 10px;
    padding: 5px;
}

/* Element created in js */

.alert {
    margin-top: 6px;
    font-size: 10px;
    color: red;
}